apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyfin
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: jellyfin
            version: 22.2.23
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: jellyfin
    values:
        TZ: US/Central
        autodiscovery:
            enabled: true
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: jf.${DOMAIN_0}
                      paths:
                        - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure
        persistence:
            cache:
                enabled: true
                medium: Memory
                type: emptyDir
            config:
                enabled: true
                type: pvc
                existingClaim: jellyfin-config
                accessMode: ReadWriteOnce
                size: "100Gi"
                retain: true
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                          enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                          enabled: true
                      type: restic
            transcode:
                enabled: true
                medium: Memory
                type: emptyDir
            media:
                enabled: true
                type: nfs
                path: /mnt/Media
                mountPath: /media
                server: ${NAS_DOMAIN}
        release_name: jellyfin
        service:
            autodiscovery:
                enabled: true
                ports:
                    autodiscovery:
                        enabled: true
                        port: 7359
                        protocol: udp
                        targetPort: 7359
            main:
                enabled: true
                loadBalancerIP: ${JELLYFIN_IP}
                ports:
                    main:
                        port: 8096
                        targetPort: 8096
                type: LoadBalancer
