apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: hoarder
    namespace: hoarder
spec:
    interval: 15m
    chart:
        spec:
            chart: app-template
            version: 15.29.54
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: hoarder
    values:
        TZ: US/Central
        release_name: hoarder

        hoarder:
            NEXTAUTH_URL: https://h.${DOMAIN_0}
            DATA_DIR: "/data"
            MEILI_ADDR: "http://localhost:7700"
            BROWSER_WEB_URL: "http://localhost:9222"
            CRAWLER_VIDEO_DOWNLOAD: "true"
            OAUTH_CLIENT_ID: "hoarder"
            OAUTH_WELLKNOWN_URL: "https://auth.${DOMAIN_0}/.well-known/openid-configuration"
            OAUTH_PROVIDER_NAME: "Authelia"
            DISABLE_SIGNUPS: "false"
            DISABLE_PASSWORD_AUTH: "true"
            OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
            MEILI_ENV: "production"
            MEILI_NO_ANALYTICS: "true"
            OAUTH_PROVIDER_TYPE: "oidc"

        image:
            repository: ghcr.io/karakeep-app/karakeep
            pullPolicy: IfNotPresent
            tag: "0.28.0"

        meilisearchImage:
            repository: getmeili/meilisearch
            pullPolicy: IfNotPresent
            tag: "v1.11.1"

        chromeImage:
            repository: gcr.io/zenika-hub/alpine-chrome
            pullPolicy: IfNotPresent
            tag: "124"

        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsNonRoot: false
                runAsUser: 0
                runAsGroup: 0

        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}

        service:
            main:
                ports:
                    main:
                        port: 3000
                        targetPort: 3000

        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: h.${DOMAIN_0}
                      paths:
                          - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure

        workload:
            main:
                podAnnotations:
                    reloader.stakater.com/auto: "true"
                    reloader.stakater.com/rollout-strategy: "restart"
                podSpec:
                    containers:
                        main:
                            primary: true
                            ports:
                                - containerPort: 3000
                                  name: main
                            env:
                                BROWSER_WEB_URL: "{{ .Values.hoarder.BROWSER_WEB_URL }}"
                                CRAWLER_VIDEO_DOWNLOAD: "{{ .Values.hoarder.CRAWLER_VIDEO_DOWNLOAD }}"
                                DATA_DIR: "{{ .Values.hoarder.DATA_DIR }}"
                                DISABLE_PASSWORD_AUTH: "{{ .Values.hoarder.DISABLE_PASSWORD_AUTH }}"
                                DISABLE_SIGNUPS: "{{ .Values.hoarder.DISABLE_SIGNUPS }}"
                                HOARDER_VERSION: "{{ .Values.image.tag }}"
                                MEILI_ADDR: "{{ .Values.hoarder.MEILI_ADDR }}"
                                MEILI_MASTER_KEY:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: MEILI_MASTER_KEY
                                        name: hoarder-secrets
                                        optional: true
                                NEXTAUTH_SECRET:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: NEXTAUTH_SECRET
                                        name: hoarder-secrets
                                        optional: true
                                NEXTAUTH_URL: "{{ .Values.hoarder.NEXTAUTH_URL }}"
                                NEXT_PUBLIC_SECRET:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: NEXT_PUBLIC_SECRET
                                        name: hoarder-secrets
                                        optional: true
                                OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "{{ .Values.hoarder.OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING }}"
                                OAUTH_CLIENT_ID: "{{ .Values.hoarder.OAUTH_CLIENT_ID }}"
                                OAUTH_CLIENT_SECRET:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: OAUTH_CLIENT_SECRET
                                        name: hoarder-secrets
                                        optional: true
                                OAUTH_PROVIDER_NAME: "{{ .Values.hoarder.OAUTH_PROVIDER_NAME }}"
                                OAUTH_PROVIDER_TYPE: "{{ .Values.hoarder.OAUTH_PROVIDER_TYPE }}"
                                OAUTH_WELLKNOWN_URL: "{{ .Values.hoarder.OAUTH_WELLKNOWN_URL }}"
                                OPENAI_API_KEY:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: OPENAI_API_KEY
                                        name: hoarder-secrets
                                        optional: true
                            probes:
                                liveness:
                                    enabled: true
                                    type: http
                                    path: /api/health
                                readiness:
                                    enabled: true
                                    type: http
                                    path: /api/health
                                startup:
                                    enabled: true
                                    type: http
                                    path: /api/health
                        chrome:
                            enabled: true
                            imageSelector: chromeImage
                            ports:
                                - containerPort: 9222
                                  name: main
                            command:
                                - chromium-browser
                                - --headless
                                - --no-sandbox
                                - --disable-gpu
                                - --disable-dev-shm-usage
                                - --remote-debugging-address=0.0.0.0
                                - --remote-debugging-port=9222
                                - --hide-scrollbars
                            probes:
                                liveness:
                                    enabled: true
                                    type: tcp
                                    port: 9222
                                readiness:
                                    enabled: true
                                    type: tcp
                                    port: 9222
                                startup:
                                    enabled: true
                                    type: tcp
                                    port: 9222
                        meilisearch:
                            enabled: true
                            imageSelector: meilisearchImage
                            ports:
                                - containerPort: 7700
                                  name: main
                            env:
                                MEILI_ENV: "{{ .Values.hoarder.MEILI_ENV }}"
                                MEILI_MASTER_KEY:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: MEILI_MASTER_KEY
                                        name: hoarder-secrets
                                        optional: true
                                MEILI_NO_ANALYTICS: "{{ .Values.hoarder.MEILI_NO_ANALYTICS }}"
                            probes:
                                liveness:
                                    enabled: true
                                    type: tcp
                                    port: 7700
                                readiness:
                                    enabled: true
                                    type: tcp
                                    port: 7700
                                startup:
                                    enabled: true
                                    type: tcp
                                    port: 7700
                replicas: 1

        persistence:
            data:
                enabled: true
                targetSelector:
                    main:
                        main:
                            mountPath: "/data"
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
            meili-data:
                enabled: true
                targetSelector:
                    main:
                        meilisearch:
                            mountPath: "/meili_data"
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
