apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: ntfy
    namespace: ntfy
spec:
    interval: 15m
    chart:
        spec:
            chart: ntfy
            version: 12.17.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: ntfy
    values:
        TZ: US/Central
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: ntfy.${DOMAIN_0}
                      paths:
                        - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure
        metrics:
            main:
                enabled: false
                prometheusRule:
                    enabled: false
        persistence:
            cache:
                medium: Memory
                type: emptyDir
            config:
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
        release_name: ntfy
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                ENABLE_ATTACHMENT_CACHE_DIR: false
                                ENABLE_AUTH_FILE: true
                                ENABLE_CACHE_FILE: false
                                ENABLE_FIREBASE_FILE: false
                                ENABLE_SMTP_SETTINGS: false
                                ENABLE_VISITOR_SETTINGS: false
                                NTFY_AUTH_DEFAULT_ACCESS: deny-all
                                NTFY_BASE_URL: https://ntfy.${DOMAIN_0}
                                NTFY_BEHIND_PROXY: true
                                NTFY_GLOBAL_TOPIC_LIMIT: 15000
                                NTFY_KEEPALIVE_INTERVAL: 45s
                                NTFY_MANAGER_INTERVAL: 1m
                                NTFY_UPSTREAM_BASE_URL: https://ntfy.sh
