apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: maintainerr
    namespace: media
spec:
    interval: 15m
    timeout: 15m
    install:
        timeout: 15m
        remediation:
            retries: 3
    upgrade:
        timeout: 15m
        remediation:
            retries: 3
            strategy: rollback
        cleanupOnFail: true
    chart:
        spec:
            chart: maintainerr
            version: 5.21.12
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: maintainerr
    values:
        TZ: US/Central
        credentials:
            ${VOLSYNC_BACKUP_OLD_NAME}:
                accessKey: ${VOLSYNC_BACKUP_OLD_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_OLD_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_OLD_ENCRKEY}
                name: ${VOLSYNC_BACKUP_OLD_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_OLD_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_OLD_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: internal
                hosts:
                    - host: maintainerr.${DOMAIN_0}
                      paths:
                        - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure
        persistence:
            data:
                enabled: true
                type: pvc
                existingClaim: maintainerr-data
                accessMode: ReadWriteOnce
                size: "100Gi"
                retain: true
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_OLD_NAME}
                      dest:
                          enabled: true
                      name: ${VOLSYNC_BACKUP_OLD_NAME}
                      src:
                          enabled: true
                      type: restic
        release_name: maintainerr
