apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: freshrss
    namespace: freshrss
spec:
    interval: 15m
    chart:
        spec:
            chart: freshrss
            version: 21.14.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: freshrss
    values:
        TZ: US/Central
        addons:
            codeserver:
                enabled: true
                ingress:
                    enabled: true
                    integrations:
                        certManager:
                            enabled: true
                            certificateIssuer: domain-0-le-prod
                    ingressClassName: internal
                    hosts:
                        - host: rss-cs.${DOMAIN_0}
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                annotations:
                    nginx.ingress.kubernetes.io/auth-method: 'GET'
                    nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
                    nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
                    nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
                hosts:
                    - host: rss.${DOMAIN_0}
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
        persistence:
            config:
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
        release_name: freshrss
