apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: nextcloud
    namespace: nextcloud
spec:
    interval: 15m
    chart:
        spec:
            chart: nextcloud
            version: 38.9.15
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: nextcloud
    values:
        TZ: US/Central
        nextcloud:
            credentials:
                initialAdminUser: ${GENERIC_USER}
            general:
                accessIP: ${NGINX_EXTERNAL_IP}
                default_phone_region: US
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                annotations:
                    nginx.ingress.kubernetes.io/configuration-snippet: |
                        rewrite ^/\.well-known/(card|cal)dav$ /remote.php/dav/ permanent;
                hosts:
                    - host: cloud.${DOMAIN_0}
                      paths:
                        - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        enabled: false
        persistence:
            config:
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
            data:
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
        cnpg:
            main:
                mode: standalone
                backups:
                    credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                    enabled: true
                    revision: "1"
                cluster:
                    instances: 1
                    singleNode: true
        release_name: nextcloud
    valuesFrom:
        - kind: Secret
          name: nextcloud-secrets
          targetPath: nextcloud.credentials.initialAdminPassword
          valuesKey: admin-password
        - kind: Secret
          name: nextcloud-secrets
          targetPath: cnpg.main.password
          valuesKey: cnpg-password
