apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: apprise
    namespace: apprise
spec:
    interval: 15m
    chart:
        spec:
            chart: app-template
            version: 15.29.82
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: apprise
    values:
        TZ: US/Central
        release_name: apprise

        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}

        image:
            repository: docker.io/caronc/apprise
            pullPolicy: IfNotPresent
            tag: latest

        securityContext:
            container:
                readOnlyRootFilesystem: false
                runAsNonRoot: false
                runAsUser: 0
                runAsGroup: 0
                PUID: 0
                PGID: 0
            pod:
                fsGroup: 0
                fsGroupChangePolicy: OnRootMismatch
                supplementalGroups: []

        service:
            main:
                ports:
                    main:
                        port: 8000
                        targetPort: 8000

        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: apprise.${DOMAIN_0}
                      paths:
                          - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure

        workload:
            main:
                podAnnotations:
                    reloader.stakater.com/auto: "true"
                    reloader.stakater.com/rollout-strategy: "restart"
                podSpec:
                    containers:
                        main:
                            primary: true
                            ports:
                                - containerPort: 8000
                                  name: http
        persistence:
            config:
                enabled: true
                targetSelector:
                    main:
                        main:
                            mountPath: /config
                volsync:
                    - credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      src:
                        enabled: true
                      type: restic
