apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflared
    namespace: cloudflared
spec:
    interval: 15m
    chart:
        spec:
            chart: cloudflared
            version: 14.15.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: cloudflared
    values:
        release_name: cloudflared
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                TUNNEL_TOKEN: ${CLOUDFLARED_TUNNEL_TOKEN}
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure
