apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: plex-auto-languages
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: plex-auto-languages
            version: 11.13.4
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: plex-auto-languages
    values:
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        persistence:
            config:
                enabled: true
                type: pvc
                existingClaim: plex-auto-languages-config
                accessMode: ReadWriteOnce
                size: "100Gi"
                retain: true
        release_name: plex-auto-languages
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                PLEX_TOKEN: ${PLEX_TOKEN}
                                PLEX_URL: http://tr.lan.1al.cc:32400
