apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: authelia
    namespace: authelia
spec:
    interval: 15m
    chart:
        spec:
            chart: authelia
            version: 29.27.19
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: authelia
    values:
        TZ: US/Central
        persistence:
          configfile:
            enabled: true
            type: configmap
            objectName: authelia-configfile
            mountPath: /configuration.yaml
            subPath: configuration.yaml
            readOnly: true
            expandObjectName: false
          secrets:
            enabled: true
            type: secret
            objectName: authelia-oidc-secret
            mountPath: /config/secrets
            readOnly: true
            expandObjectName: false
        workload:
          main:
            replicas: 2
            podSpec:
              containers:
                main:
                  env:
                    AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                    AUTHELIA_SESSION_SECRET: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                    AUTHELIA_STORAGE_ENCRYPTION_KEY: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                    X_AUTHELIA_CONFIG_FILTERS: template
        cnpg:
            main:
                mode: standalone
                password: ${AUTHELIA_CNPG_PASSWORD}
                backups:
                    credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                    enabled: true
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: auth.${DOMAIN_0}
                      paths:
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
        release_name: authelia
        service:
            main:
                loadBalancerIP: ${AUTHELIA_IP}
                type: LoadBalancer
