apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: generic-device-plugin
    namespace: media
spec:
    interval: 15m
    chart:
        spec:
            chart: generic-device-plugin
            version: "2.13.19"
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    upgrade:
        remediation:
            retries: 3
