apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: rsshub
    namespace: rsshub
spec:
    interval: 15m
    chart:
        spec:
            chart: rsshub
            version: 16.27.23
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: rsshub
    values:
        TZ: US/Central
        image:
            repository: diygod/rsshub
            tag: latest
            pullPolicy: Always
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: hub.${DOMAIN_0}
                      paths:
                        - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure
        release_name: rsshub
        service:
            main:
                enabled: true
                type: ClusterIP
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                ACCESS_KEY:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: ACCESS_KEY
                                        name: rsshub-secrets
                                        optional: true
                                DISALLOW_ROBOT: true
                                GITHUB_ACCESS_TOKEN: ""
                                TITLE_LENGTH_LIMIT: 150
                                # TWITTER_USERNAME:
                                #     secretKeyRef:
                                #         expandObjectName: false
                                #         key: TWITTER_USERNAME
                                #         name: rsshub-secrets
                                #         optional: true
                                # TWITTER_PASSWORD:
                                #     secretKeyRef:
                                #         expandObjectName: false
                                #         key: TWITTER_PASSWORD
                                #         name: rsshub-secrets
                                #         optional: true
                                # TWITTER_AUTHENTICATION_SECRET:
                                #     secretKeyRef:
                                #         expandObjectName: false
                                #         key: TWITTER_AUTHENTICATION_SECRET
                                #         name: rsshub-secrets
                                #         optional: true
                                TWITTER_AUTH_TOKEN:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: TWITTER_AUTH_TOKEN
                                        name: rsshub-secrets
                                        optional: true
                                YOUTUBE_KEY:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: YOUTUBE_KEY
                                        name: rsshub-secrets
                                        optional: true
                                PATREON_SESSION_ID:
                                    secretKeyRef:
                                        expandObjectName: false
                                        key: PATREON_COOKIE
                                        name: rsshub-secrets
                                        optional: true
                replicas: 1
                type: Deployment
