apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: alist
    namespace: alist
spec:
    interval: 5m
    chart:
        spec:
            chart: alist
            version: 12.13.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: alist
    values:
        TZ: US/Central
        credentials:
            ${VOLSYNC_BACKUP_MAIN_NAME}:
                accessKey: ${VOLSYNC_BACKUP_MAIN_ACCESSKEY}
                bucket: ${VOLSYNC_BACKUP_MAIN_BUCKET}
                encrKey: ${VOLSYNC_BACKUP_MAIN_ENCRKEY}
                name: ${VOLSYNC_BACKUP_MAIN_NAME}
                path: ""
                secretKey: ${VOLSYNC_BACKUP_MAIN_SECRETKEY}
                type: s3
                url: ${VOLSYNC_BACKUP_MAIN_URL}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: files.${DOMAIN_0}
                      paths:
                        - path: /
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                    homepage:
                        enabled: false
                    traefik:
                        allowCors: false
                        enabled: false
                        entrypoints:
                            - websecure
        persistence:
            nas:
                enabled: true
                type: nfs
                mountPath: /mnt/TrueNAS
                path: /mnt
                server: ${NAS_DOMAIN}
            data:
                volsync:
                    - name: ${VOLSYNC_BACKUP_MAIN_NAME}
                      credentials: ${VOLSYNC_BACKUP_MAIN_NAME}
                      dest:
                        enabled: true
                      src:
                        enabled: true
                      type: restic
        release_name: alist